.article {
    display: flex;
    flex-direction: column;
    margin: 20px;
    

    @media (min-width: 576px) {
        flex-direction: row;
    }

    &__image {
        background: gray;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        min-width: 200px;
        margin-bottom: 20px;

        @media (min-width: 576px) {
            height: auto;
            margin-bottom: 0;
            margin-right: 20px;
        }

        @media (min-width: 992px) {
            height: 200px;
        }
    }

    &__info {
        width: 100%;
    }

    &__top-info {

        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__title {
        margin: 0;
    }

    &__date {

        @media (min-width: 992px) {
            text-align: right;
            min-width: 150px;
            margin: 0 0 0 20px;
        }
    }

    &__desc {
        display: none;

        @media (min-width: 992px) {
            display: block;
        }
    }
}