.filtering {
    background: #6098e4;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 576px) {
        flex-direction: row;
    }


    &__title {
        margin: 0;
    }

    &__filter {
        display: flex;
        align-items: center;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        padding: 0 10px;

        .list {
            &__item {
                margin: 0 5px;
                padding: 3px 5px;
                text-transform: capitalize;
                cursor: pointer;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    background: #d5b9c4;
                    border-radius: 10px;
                }
            }
        }
    }

    &__sorting {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 90px;
        margin: 20px 20px 0;

        @media (min-width: 576px) {
            margin: 0 20px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -15px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            
        }


        &:before {
            transform: translateY(-6px);
            border-bottom: 5px solid black;
        }

        &:after {
            transform: translateY(2px);
            border-top: 5px solid black;
        }

        &.desc {
            &:before {
                display: none;
            }
        }

        &.asc {
            &:after {
                display: none;
            }
        }

        p {
            margin: 0;
        }
    }
}